# Provide your Groq API key here (get one at https://console.groq.com/keys)
GROQ_API_KEY=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

# Provide your Hindsight API key or set endpoint URL
HINDSIGHT_API_KEY=hsk_0411e0dc3ace676c2495b42149538288_daa5f5326f7a2488
